<%- include('../partials/header'); -%>
  
  <ul class="recipes">
    <% if(polls.length==0){ %>
      <h2>No Polls Found</h2>
    <%}else {%>
    <% for(var i=0; i < polls.length; i++) { %>
      <a href='createpolls/<%=polls[i]._id%>'>
        <li class="poll">

          <h5>
            Unique Id: <%= polls[i]._id %>
          </h5>
          <h4>
            <%= polls[i].question %>
          </h4>
          
          <p>
            <%= polls[i].option1.name %>
              <%=(polls[i].option1.count)%>
          </p>
          <p>
            <%= polls[i].option2.name %>
              <%=(polls[i].option2.count)%>
          </p>
          <p >
            <%= polls[i].option3.name %>
              <%=(polls[i].option3.count)%>
          </p>
          <p >
            <%= polls[i].option4.name %>
              <%=(polls[i].option4.count)%>
          </p>
 
        </li>
      </a>
      <% } %>

  </ul>
  <%} %>

  <%- include('../partials/footer'); -%>