<%- include('../partials/header'); -%>

    <div>
        
            <h3>
                <%- poll.question %>
            </h3>

        <h4>
                <%= poll.option1.name %>
                    (<%=poll.option1.count%>)
            </h4>
            <h4>
                <%= poll.option2.name %>
                    (<%=poll.option2.count%>)
            </h4>
            <h4>
                <%= poll.option3.name %>
                    (<%=poll.option3.count%>)
            </h4>
            <h4>
                <%= poll.option4.name %>
                    (<%=poll.option4.count%>)
            </h4>


    </div>


<%- include('../partials/footer'); -%>