<%- include('../partials/header'); -%>

    <div class="single">

        <h2>
            <%= note.text %>
        </h2>
        <form action="/notes/<%= note._id%>" method="PUT">
            <button class="btn" type="submit">Update</button>
        </form>
        <form action="/notes/<%= note._id%>" method="DELETE">
            <button class="btn" type="submit"> Delete</button>
        </form>

    </div>


<%- include('../partials/footer'); -%>