<%- include('../partials/header'); -%>

    <div class="single">

        <form action="/castvote/<%= poll._id %>" method="POST" id = "poll">
            <h2>
                Cast Your Vote
            </h2>
            <input class="hidden_box" name = "pollId" value="<%= poll._id %>" />
            <h3><%= poll.question %></h3>
            <!-- <br></br> -->
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="option" id = "option" value=1>
                <!-- <div class="radio_option"></div> -->
                <%= poll.option1.name %>
            </label>
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="option" id = "option" value=2>
                <!-- <div class="radio_option"></div> -->
                <%= poll.option2.name %>
            </label>
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="option" id = "option" value=3>
                <!-- <div class="radio_option"></div> -->
                <%= poll.option3.name %>
            </label>
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="option" id = "option" value=4>
                <!-- <div class="radio_option"></div> -->
                <%= poll.option4.name %>
            </label>
            <button class="btn" type="submit">Cast Vote</button>
        </form>
        

    </div>


<%- include('../partials/footer'); -%>